.contents {
    margin-left: 15px;
    width: 920px;
    height: 920px;
    overflow: auto;
}

.contents_column_t{
    overflow: auto;
}
.contents_column_list_t{
    width: 100%;
    display: flex;
    border-bottom: solid .5px rgba(180, 180, 180, 0.651); 
    padding-bottom: 20px;  
}
.contents_list_head {
    display: flex;
    align-content: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    justify-content: space-between;

}
.contents_list_head_head{
    display: flex;
    align-items: center;
}
.contents_list_head_head1{
    font-size: 14px;
}
.contents_list_head_head2{
    font-size: 14px;
    margin-left: 10px; 
}
.contents_list_head_head3{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px; 
}
.contents_list_head_tail{
    display: flex;
    align-items: center;
}
.contents_list_head_tail2{
    margin-left: 5px;
    width: 100px;
    height: 8px;
    background-color: gray;
}
.contents_list_bottom_sub {
    display: flex;
    margin-left: 40px;
    align-content: center;
}
.contents_list_bottom_sub1 {
    color:  rgb(6, 130, 179);
    font-size: 12px;
}
.contents_list_bottom_sub2 {
    margin-left:5px;
    opacity: 0.5;
    font-size: 12px;
}
.contents_column_icon {
    border: solid .5px rgba(156, 126, 126, 0.651); 
    padding: 7px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px; 
}
.contents_column_icon span {
    font-size: 17px;
}
.contents_column_list_b {
    border: solid .5px rgba(156, 126, 126, 0.651); 
    min-width: 620px;
    background-color: rgba(189, 223, 211, 0.11);
}
.contents_list_middle {
    border-top: solid .5px rgba(156, 126, 126, 0.651);
    border-left: solid .5px rgba(156, 126, 126, 0.651);
    border-right: solid .5px rgba(156, 126, 126, 0.651);  
    padding: 10px;
}
.contents_list_bottom{
    border: solid .5px rgba(156, 126, 126, 0.651); 
    display: flex;
}
.contents_list_middle_bottom{
    margin: 20px;  
    background-color: white;
}
.contents_button {
    display: flex;
    justify-content:flex-end;
    margin: 15px 0px;
}
.contents_button button {
    background-color: white;
    border: solid .5px rgba(156, 126, 126, 0.651); 
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
}
.contents_column_b {
    margin-right: 15px;
}
.contents_list_bottom_main {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 10px;
    margin-top: 10px; 
    margin-right: 10px; 
}
.contents_list_bottom_main1 {
    font-size: 20px;
}
.contents_list_bottom_main2 {
    font-size: 17px;
}
.contents_list_bottom_main3 {
    font-size: 12px;
    border:solid .5px rgba(156, 126, 126, 0.651); 
    border-radius: 30px;
    padding:1px 8px;
}
.contents_list_bottom_h {
    width: 5px;
    height: 68px;
    background-color:  rgb(6, 130, 179);
}
.contents_list_bottom_t {
    width: 100%;
}
.contents_list_bottom_t:hover {
    background-color: rgba(189, 223, 211, 0.11);
}