.window_subject {
    position: fixed;
    height: 100%;
    background-color: white;
    margin-left: 60px; 
    width: 250px;
}
.window_subject-name {
    font-size: 20px;
    padding: 20px 0px;
    margin: 0px 20px;
    border-bottom: solid .5px rgba(180, 180, 180, 0.651);
}
.window_subject-sub {
    margin: 0px 20px;
    padding: 7px 0px;
    border-bottom: solid .5px rgba(180, 180, 180, 0.651);
}
.window_subject-uni {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.window_subject-link-t {
    font-size: 12px;
    opacity: 0.6;
}
.window_subject-all {
    display: flex;
    flex-direction: column;
}

.window_subject-all-sub {
    padding: 20px 0px;
    margin: 0px 20px;
}