.bottom {
    width:220px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.to_do-name {
    padding-bottom: 10px;
    width: 100%;
    font-weight: bold;
    border-bottom: solid .5px  rgba(180, 180, 180, 0.651);
}

.todo_list-uni, .feedback_list-uni {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
}

.bottom_list-link-b {
    font-weight: bold;
    opacity: .5;   
}

.bottom_list-link-t {
    opacity: .5;   
}

.predestination{
    margin-bottom: 20px;
}

.predestination_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid .5px  rgba(180, 180, 180, 0.651);
}
.predestination-name {
    font-weight: bold;
}
.predestination_sub {
    font-size: 12px;
}

.bottom_butten {
    height: 35px;
    border: solid .5px  rgba(180, 180, 180, 0.651);
    border-radius: 5px;
    font-size: 15px;
}

.feedback-name {
    padding-bottom: 10px;
    width: 100%;
    font-weight: bold;
    border-bottom: solid .5px  rgba(180, 180, 180, 0.651);
}
.feedback_list {
    padding-left: 0px;
}

@media screen and (max-width: 940px) {
    .predestination_box {
        width: 100%;
    }
    .bottom {
        width: auto;
        margin-left: 75px;
    }
    .bottom_logo{
        display: none;
    }
  }
  @media screen and (min-width: 940px) {
      .bottom {
        margin-left: 20px; 
      }
  }