@import "header.css";
@import "dash.css";
@import "bottom.css";
@import "window.css";
@import "subject.css";
@import "subject_contents.css";
@import "subject_check.css";
@import "subject_user.css";
@import "subject_group.css";
@import "subject_lecturefile.css";
@import "subject_lecturefile_in.css";
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    cursor: pointer;
}
li {
    list-style: none;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: white;
    align-items: stretch;
    color: #020202;
    margin: 0px;
    height:100%;

}
.big_column_m {
    height: 100%;
}
.big_big {
    display: flex;
    flex-direction: column;
}
.footer {
    font-weight: bold;
    padding:10px 0px ;
    color:rgba(128, 128, 128, 0.603);
    margin-left: 75px;
    border-top: solid .5px rgba(180, 180, 180, 0.651); 
}
@media screen and (max-width: 940px){
    .big_column_m{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 940px){
    .big_column_m{
        display: flex;
        flex-direction: row;
    }
}