.check {
    width: 100%;
}
.check_text, .check_text1, .check_text2 {
    padding: 5px 0px;
    font-size: 14px;
    margin: 0px;
}
.check_td_1,.check_td_2, .check_th{
    padding: 5px 0px;
    font-size: 14px;
}
.check_th,.check_td {
    min-width: 90px;
}

.check_text1_sub2{
    font-weight: bold;
    color: blue;
}
.check_text1_sub4{
    font-weight: bold;
    color: orange;
}
.check_text1_sub6{
    font-weight: bold;
    color: red;
}
.check_text1_sub8{
    color: black;
    font-weight: bold;
}
.check_text2_sub2{
    font-weight: bold;
    color: blue;
}
.check_text2_sub4{
    color: black;
    font-weight: bold;
}
.check_table {
    border-top:solid 2px black;
    border-collapse: collapse;
    min-width: 360px;
    width: 100%;
}
.check_td {
    border:solid 1px rgba(128, 128, 128, 0.322);
    text-align: center;
}
.check_td_1 {
    border-top:solid 1px  black;
}
.check_tr_0 {
    background-color:  rgba(128, 128, 128, 0.322);
}